page-home {
    .list{
        margin:10px;

    }
[ion-item]{
    padding: 10px;
    margin-top: 10px;
background-color: green;
color: #fff;

}
.item p{
    color:#fff;
}
.list-header{
    background-color:darkgreen;
    color:#fff;
    height:60px;
}
}
